[Unit]
Description=rbw-agent
After=network.target

[Service]
Type=simple
ExecStart=/home/user/.local/bin/rbw-agent
Restart=on-failure
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket

[Install]
WantedBy=default.target
