README.md

{{ if eq .osid "linux-arch" }}
.config/systemd/user/rbw-agent.service
{{ end }}

{{ if eq .osid "linux-ubuntu" }}
.config/**
!.config/age/**
!.config/bat/**
!.config/btop/**
!.config/fastfetch/**
!.config/fzf/**
!.config/git/**
!.config/lsd/**
!.config/nvim/**
!.config/oh-my-posh/**
!.config/tmux/**
.local/bin/**
.local/share/**
{{ end }}
