{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

encryption = "age"

[age]
  identity = "~/.config/age/public.txt"
  recipientsFile = "~/.config/age/private.txt"

[merge]
  command = "nvim"
  args = [
    "-d",
    "{{ "{{" }} .Source {{ "}}" }}",
    "{{ "{{" }} .Destination {{ "}}" }}"
  ]

[data]
  sshPersonalPublickey = {{ (rbwFields "KEY - SSH - personal").publickey.value | quote }}
  osid = {{ $osid | quote }}

[hooks.read-source-state.pre]
  command = ".local/share/chezmoi/.install-rbw.sh"
