README.md

{{ if ne .osid "linux-arch" }}
.config/**
!.config/age
!.config/bat
!.config/btop
!.config/fastfetch
!.config/fzf
!.config/git
!.config/lsd
!.config/nvim
!.config/oh-my-posh
!.config/tmux
.local/**
!.local/bin
!.local/share/zinit
{{ end }}
