# Zinit setup
{{ if eq .osid "linux-arch" -}}
source "/usr/share/zinit/zinit.zsh"
{{ end -}}
{{ if eq .osid "linux-ubuntu" -}}
source "${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git/zinit.zsh"
{{ end -}}

# Zinit plugins
zinit light zsh-users/zsh-completions
{{ if eq .osid "linux-arch" -}}
fpath=(/opt/vagrant/embedded/gems/gems/vagrant-*/contrib/zsh $fpath)
{{ end -}}
autoload -Uz compinit && compinit
zinit light zsh-users/zsh-autosuggestions
zinit light zdharma-continuum/fast-syntax-highlighting
zinit light MichaelAquilina/zsh-you-should-use
# zinit ice depth=1
# zinit light jeffreytse/zsh-vi-mode
zinit ice lucid wait
zinit light Aloxaf/fzf-tab
zinit snippet OMZP::command-not-found
zinit snippet OMZP::sudo
zinit cdreplay -qc

# ZSH VI
function zvm_custom_init() {
  eval "$(fzf --zsh)"
}

bindkey '^R' fzf-history-widget
bindkey '^p' history-search-backward
bindkey '^n' history-search-forward
bindkey '^f' autosuggest-accept
# bindkey '^C' vi-cmd-mode
# bindkey '^C' send-break

function zvm_config() {
  ZVM_LINE_INIT_MODE=$ZVM_MODE_INSERT
  zvm_after_init_commands+=(zvm_custom_init)
}

# Set history options
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups

# Set completion and fzf-tab style
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path "${XDG_CACHE_HOME}/zsh/.zcompcache"
zstyle ':completion:*' group-name ''
zstyle ':completion:*:descriptions' format '[%d]'
zstyle ':completion:*' matcher-list '' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=*' 'l:|=* r:|=*'
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
zstyle ':completion:*' menu no
zstyle ':fzf-tab:*' use-fzf-default-opts yes
# zstyle ':fzf-tab:*' fzf-command ftb-tmux-popup
zstyle ':fzf-tab:*' accept-line enter
zstyle ':fzf-tab:*' continuous-trigger '/'
zstyle ':fzf-tab:complete:*' fzf-preview 'bat --color=always --style=plain --paging=never --line-range=:500 $realpath 2>/dev/null || lsd -1 --color=always $realpath'
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'lsd -1 --color=always $realpath'
zstyle ':fzf-tab:*' fzf-pad 4
zstyle ':fzf-tab:*' switch-group '<' '>'

# Set aliases
alias c='clear'
alias vim="nvim"
alias v="nvim"
alias ls='lsd'
alias la='lsd -A'
alias ll='lsd -lAg'
alias lt='lsd -A -I .git -I .ansible -I .vagrant --tree --depth 3'
alias cat='bat --paging=never'
alias less='bat --paging=always'
alias diff='bat --diff --diff-context 4'
alias -g -- -h='-h 2>&1 | bat --language=help --style=plain --paging=never'
alias -g -- --help='--help 2>&1 | bat --language=help --style=plain --paging=never'
# bindkey -e # NOTE: Cause of zsh-vi-mode breaking on interupt
alias cm='chezmoi'

alias dsta='docker container start'
alias dstp='docker container stop'
alias dstpa='docker container stop $(docker ps -q)'
alias drs='docker container restart'
alias drsa='docker container restart $(docker ps -q)'
alias dls={{ `'docker container ls --format "table {{.Names}}\t{{.Status}}\t{{.Ports}}"'` }}
alias dlsa={{ `'docker container ls -a --format "table {{.Names}}\t{{.Status}}\t{{.Ports}}"'` }}
alias dlog='docker container logs'
alias drm='docker container rm'
alias drmf='docker container rm -f'
alias dils='docker image ls'
alias dnls='docker network ls'
alias dvls='docker volume ls'
alias dtop='docker top'
alias dstat={{ `'docker stats --format "table {{.Name}}\t{{.CPUPerc}}\t{{.MemPerc}} | {{.MemUsage}}\t{{.BlockIO}}\t{{.NetIO}}"'` }}
{{ if eq .osid "linux-arch" -}}
alias y='yazi'

{{ end -}}
{{ if ne .osid "linux-arch" -}}
alias y='ranger'

{{ end -}}
# Setup shell integrations
eval "$(oh-my-posh init zsh --config "${XDG_CONFIG_HOME}"/oh-my-posh/config.toml)"
eval "$(fzf --zsh)"
eval "$(zoxide init --cmd cd zsh)"
eval "$(chezmoi completion zsh)"
eval "$(rbw gen-completions zsh)"
{{- if eq .osid "linux-arch" }}

# Start tmux
if [ -z "$TMUX" ]; then
  tmux attach -t MAIN || tmux new -s MAIN
fi
{{ end -}}
