#!/bin/sh

set -eu

USER_NAME="$(whoami)"

mayhaps_sudo() {
  case "$USER_NAME" in
  root)
    "$@"
    ;;
  *)
    sudo "$@"
    ;;
  esac
}

{{ if eq .osid "linux-arch" -}}

# USER_TO_ENABLE="user"
# GROUP="wheel"
# SUDOERS_FILE="/etc/sudoers.d/99-$USER_TO_ENABLE-nopasswd"
# if ! id -nG "$USER_TO_ENABLE" | grep -qw "$GROUP"; then
#     sudo usermod -aG "$GROUP" "$USER_TO_ENABLE"
# fi
# if [ ! -f "$SUDOERS_FILE" ]; then
#     echo "$USER_TO_ENABLE ALL=(ALL) NOPASSWD: ALL" | sudo tee "$SUDOERS_FILE" >/dev/null
#     sudo chmod 440 "$SUDOERS_FILE"
# fi
# sudo -k

if ! command -v yay &>/dev/null; then
  mayhaps_sudo pacman -Fy
  mayhaps_sudo pacman -S --needed git base-devel
  git clone https://aur.archlinux.org/yay-bin.git /tmp/yay-bin
  cd /tmp/yay-bin
  makepkg -si --noconfirm
fi

yay -Fy
yay -S --needed --noconfirm {{ range .packages.arch.yay }}{{ . | quote }} {{ end }}

# [ -x /usr/share/tmux-plugin-manager/bin/install_plugins ] &&
#   /usr/share/tmux-plugin-manager/bin/install_plugins

# FONT_DIR="$HOME/.local/share/fonts"
# mkdir -p "$FONT_DIR"
# curl -L -o "$FONT_DIR/OleoScript-Regular.ttf" \
#     "https://github.com/google/fonts/raw/main/ofl/oleoscript/OleoScript-Regular.ttf"
# fc-cache -fv

chsh -s $(which zsh)

{{ end -}}

{{ if eq .osid "linux-ubuntu" -}}

# USER_TO_ENABLE="user"
# GROUP="sudo"
# SUDOERS_FILE="/etc/sudoers.d/99-$USER_TO_ENABLE-nopasswd"
# if ! id -nG "$USER_TO_ENABLE" | grep -qw "$GROUP"; then
#     sudo usermod -aG "$GROUP" "$USER_TO_ENABLE"
# fi
# if [ ! -f "$SUDOERS_FILE" ]; then
#     echo "$USER_TO_ENABLE ALL=(ALL) NOPASSWD: ALL" | sudo tee "$SUDOERS_FILE" >/dev/null
#     sudo chmod 440 "$SUDOERS_FILE"
# fi
# sudo -k


mayhaps_sudo apt update

if ! command -v add-apt-repository >/dev/null 2>&1; then
 mayhaps_sudo apt install -y software-properties-common
fi

mayhaps_sudo add-apt-repository -y ppa:zhangsongcui3371/fastfetch

mayhaps_sudo apt install -y {{ range .packages.ubuntu.apt }}{{ . | quote }} {{ end }}

if ! command -v oh-my-posh >/dev/null 2>&1; then
  curl -s https://ohmyposh.dev/install.sh | bash -s -- -d "${HOME}/.local/bin"
fi

# [ -x /usr/share/tmux-plugin-manager/bin/install_plugins ] &&
#   /usr/share/tmux-plugin-manager/bin/install_plugins


[ -x ${HOME}/.local/share/tmux/tpm/bin/install_plugins] &&
  ${HOME}/.local/share/tmux/tpm/bin/install_plugins

# FONT_DIR="$HOME/.local/share/fonts"
# mkdir -p "$FONT_DIR"
# curl -L -o "$FONT_DIR/SymbolsNerdFontMono-Regular.ttf" \
#   "https://github.com/ryanoasis/nerd-fonts/raw/refs/heads/master/patched-fonts/NerdFontsSymbolsOnly/SymbolsNerdFontMono-Regular.ttf"
# fc-cache -fv

if command -v batcat >/dev/null 2>&1; then
  if [ ! -e /usr/local/bin/bat ]; then
    mayhaps_sudo ln -s /usr/bin/batcat /usr/local/bin/bat
  fi
fi

[ "$SHELL" != "$(command -v zsh)" ] &&
  chsh -s $(which zsh)

rbw_path=$(command -v rbw 2>/dev/null || true)

if [ -n "$rbw_path" ] && [ "$rbw_path" != "/home/user/.local/bin/rbw" ]; then
    mayhaps_sudo apt remove -y rbw
fi

{{ end -}}
