[Desktop Entry]
Type=Application
Name=Lazysql
GenericName=TUI DB Managment Tool
Keywords=database;sql;
Icon=sql

Exec=uwsm app -- /home/user/.local/share/runAsTmuxWindow.sh Lazysql lazysql
