[Desktop Entry]
Type=Application
Name=Lazydocker
GenericName=Docker TUI
Keywords=Docker;Compose
Icon=docker

Exec=uwsm app -- /home/user/.local/bin/runAsTmuxWindow.sh Lazydocker lazydocker
