[Desktop Entry]
Type=Application
Name=Timeshift
GenericName=System Restore Utility
Keywords=backup;btrfs;rsync;
Icon=timeshift

Exec=sh -c 'pkexec env DISPLAY=$DISPLAY WAYLAND_DISPLAY=$WAYLAND_DISPLAY XDG_RUNTIME_DIR=$XDG_RUNTIME_DIR timeshift-launcher'
