[Desktop Entry]
Type=Application
Name=Discord
Exec={{ .chezmoi.homeDir }}/.local/bin/vesktop.appimage
Icon=discord
StartupNotify=false
Terminal=false
NoDisplay=false
MimeType=x-scheme-handler/discord;
