[Desktop Entry]
Type=Application
Name=Yazi
GenericName=Terminal File Manager
Keywords=File;Manager;Explorer;Browser;Launcher
Icon=yazi

Exec=uwsm app -- /home/user/.local/share/runAsTmuxWindow.sh Yazi yazi %u

MimeType=inode/directory
